@import "../styles/colors.scss";

.active {
    background-color: $app-primary;
}

.link {
    color: white;
}
.link:hover {
    color: $app-primary;
}

.siteName{
    font-family: 'Secular One', sans-serif;
    padding: 6px;
    margin: 6px;
    
}

.siteName h3{
    font-weight: 500;
    font-size: 28px;
   
   
}

.siteName h3 span{
    font-weight: 600;
    padding: 2px;
    
    
    
}