@import "../styles/colors.scss";

//font-family: 'Roboto', sans-serif;

.header {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1216px) {
  .header {
    justify-content: center;
    text-align: center;
  }
}
.tags {
  margin-bottom: 5px;
}
.tags .tag {
  padding: 15px;
  margin: 5px 5px 5px 0;
}
.links {
  margin-top: 5px;
  overflow: hidden;
}
.links a {
  margin: 5px 5px 5px 0;
  color: inherit;
}
.links a:hover {
    color: $app-primary;
}
.description {
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.devQA{
  font-family: 'Roboto', sans-serif;
  
}

.devQA h2{
  color: #48c774;
  text-transform: uppercase;
  font-size: 18px;
}

.devQA p{
  color: white;
  
}

.devQA p::after{
  content: "\A \A";
  white-space: pre;
}

.devQA ul::after{
  content: "\A";
  white-space: pre;
}

.developerPage{
  font-family: 'Roboto', sans-serif;

}

.developerPage h2{
  letter-spacing: 0.06em;
  font-weight: 600;
  font-size:2.0rem;
}

.developerPage h4{
  font-weight:300;
}