$app-background: #111;
$app-background-1: #222;
$app-background-2: #383838;
$app-primary: #029646;
$background: $app-background;
$text: #ffffff;
$text-strong: #ffffff;
$card-background-color: $app-background-1;
$navbar-background-color: $app-background;
$tag-background-color: $app-background-2;
$navbar-item-hover-background-color: $app-primary;
$navbar-item-hover-color: white;
$card-content-padding: 5px 0;
$card-media-margin: 5px;
