$app-background: #111;
$app-background-1: #222;
$app-background-2: #383838;
$app-primary: #029646;
$app-primary-dark: #015a2a;
$background: $app-background;
$text: #ffffff;
$text-strong: #ffffff;
$card-background-color: $app-background-1;
$navbar-background-color: $app-background;
$tag-background-color: $app-background-2;
$navbar-item-hover-background-color: $app-primary;
$navbar-item-hover-color: white;
$card-content-padding: 5px 0;
$card-media-margin: 5px;
$button-background-color: $app-primary;
$button-color: white;
$button-border-color: $app-primary-dark;
$button-hover-color: white;
$button-focus-color: white;
$button-focus-border-color: $app-primary-dark;
$button-active-color: white;
$button-active-border-color: $app-primary-dark;
$link: $app-primary;
$footer-background-color: $app-background;
$footer-color: white;
$footer-padding: 2rem 1.5rem;
